.footer h4 {
  color: var(--secondary-color);
}

.footer p {
  color: var(--main-color);
  font-family: var(--secondary-font);
  /* font-size: 16px; */
}

.footer input[type='submit'] {
  background-color: var(--secondary-color);
  font-family: var(--third-font);
}

.footer input[type='email'] {
  border: 1px solid var(--secondary-color);
  font-family: var(--third-font);
  caret-color: var(--secondary-color);
  outline: none;
}

.footer a:hover,
.footer a:active,
.footer a {
  text-decoration: none;
  color: var(--main-color);
}

.footer hr {
  border-top-color: var(--secondary-color);
  width: 90;
}

.footer small {
  font-size: 12px;
}
