.header {
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.header::before {
  content: attr(data-back);
  position: absolute;
  left: var(--position-back);
  color: var(--color-back);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 100%;
  font-size: 3.815rem;
  font-weight: bold;
  z-index: -1;
  top: 0;
}

@media (min-width: 992px) {
  .header::before {
    font-size: 5.063rem;
  }
}
